{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trackmed/styles/aboutCompany.css' %}">
{% endblock %}
{% block content %}
<main>
        <div class="aboutUs">
            <h1>О компании МедТрек</h1>
            <p>
                Наша компания специализируется на автоматизации процессов закупки, учета и управления медицинским оборудованием.
                Мы предлагаем современные решения для клиник и медицинских учреждений, которые позволяют упростить оформление заказов,
                отслеживание поставок и управление инвентарем.
            </p>
            <p>
                Система автоматизации, разработанная нашей командой, дает возможность снизить временные затраты,
                минимизировать ошибки в учете и повысить оперативность обслуживания. Благодаря нашим решениям, пользователи могут легко оформлять заказы, следить за их выполнением и управлять складскими запасами.
            </p>
            <p>
                Мы гордимся своим опытом и стремимся создать инновационную платформу, отвечающую высоким стандартам медицинской отрасли.
                Наши специалисты всегда готовы оказать поддержку и предложить оптимальные решения для каждой клиники.
            </p>
            <h1>
                Наши цели
            </h1>
            <ul>
                <li>
                    Обеспечить высокое качество обслуживания
                </li>
                <li>
                    Облегчить управление медицинским оборудованием
                </li>
                <li>
                    Повысить доступность и точность учета
                </li>
            </ul>
            <p>Мы будем рады сотрудничеству с вами и вашим медицинским учреждением для достижения этих целей.</p>
        </div>
    </main>
{% endblock %}
<!--    <header>-->
<!--        <div class="headerContainer">-->
<!--            <div class="headerLogo"><a href="index.html">МедТрек</a></div>-->
<!--            <nav class="navigation">-->
<!--                <a href="aboutCompany.html">О компании</a>-->
<!--                <a href="program.html">Программа</a>-->
<!--                <a href="manual.html">Руководство</a>-->
<!--                <a href="#">Войти</a>-->
<!--            </nav>-->
<!--            <img class="headerMenu" style="width: 26px" src="images/burgerMenu.svg">-->
<!--        </div>-->
<!--    </header>-->

