{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trackmed/styles/manual.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="aboutProgramm">
        <h1>Руководство по пользованию</h1>
        <p>
            Наша система автоматизирует процесс оформления заказов и учета медицинского оборудования в вашей клинике.
            Она создана для того, чтобы упростить и ускорить управление инвентарем, сократить время на
            обработку заказов и повысить прозрачность процессов.
        </p>
        <h1>Основные возможности:</h1>
        <ul>
            <li><strong>Учет оборудования:</strong>система позволяет вести полный реестр медицинского оборудования,
                с указанием его состояния, местоположения, сроков эксплуатации и обслуживания.</li>
            <li><strong>Удобный заказ:</strong>сотрудники клиники могут легко оформить заказ на необходимое оборудование
                через интуитивно понятный интерфейс.</li>
            <li><strong>История заказов: </strong>каждый заказ сохраняется в системе с деталями, что позволяет
                отслеживать его статус и историю.</li>
            <li><strong>Автоматическое уведомление:</strong>система уведомляет пользователей о необходимости
                обслуживания или замены оборудования.</li>
            <li><strong>Отчеты и аналитика</strong>благодаря интеграции с системой, вы можете создавать отчеты по
                использованию оборудования, планировать закупки и оптимизировать затраты.</li>
        </ul>
        <p>С помощью нашей программы вы сможете гарантировать бесперебойную работу клиники, улучшить эффективность
            использования оборудования и обеспечить безопасность пациентов.</p>
    </div>
</main>
{% endblock %}


